@mixin flex($main:flex-start,$cross:center){
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: $main;
  align-items: $cross;
}
%ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin content{
  padding: 15px 0;
  margin: auto;
}