html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background: #f4f6f6;
  font-family: "Microsoft YaHei","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
em,i{
  font-style: normal;
}
.news_content p{
  text-indent: 28px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #65637b;
  color: #fff;
}
.el-pagination li:hover{
  color: #1295d8;
}
.el-pager, .el-pager li:hover{
  color: #1295d8;
}
.el-badge__content{
  border: none;
}
//导航部分，换主题色下拉菜单
.theme_dropdown{
  .el-dropdown-menu__item{
    padding-left:20px;
    padding-right: 20px;
  }
}
.dialog_h3{
  color: #000;padding-bottom: 20px;border-bottom: 1px solid #bfbfbf;
}