._theme_blue{
  ._theme{
    background: #1390d3!important;
  }
  ._theme_light{
    background: #2aa8e9!important;
  }
  ._theme_darker{
    background: #067ebe!important;
  }
  ._theme_card{
    border-top:3px solid #1295d8!important;
  }
}
._theme_green{
  ._theme{
    background: #00697e!important;
  }
  ._theme_light{
    background: #008099!important;
  }
  ._theme_darker{
    background: #005768!important;
  }
  ._theme_card{
    border-top:3px solid #00697e!important;
  }
}