$skin: #1390d3!global;
$skin-light:#2aa8e9 !global;
$skin-darker:#067ebe !global;
$skin-card:#1295d8 !global;
//.theme_blue{
//  $skin: #1390d3;
//  $skin-light:#2aa8e9 ;
//  $skin-darker:#067ebe ;
//  $skin-card:#1295d8 ;
//}
//.theme_green{
//  $skin: #00697e;
//  $skin-light:#2aa8e9 ;
//  $skin-darker:#067ebe ;
//  $skin-card:#1295d8 ;
//}
//.theme_orange{
//  $skin: #f18b2e;
//  $skin-light:#2aa8e9 ;
//  $skin-darker:#067ebe ;
//  $skin-card:#1295d8 ;
//}
