$skin: #1390d3 !default;
$skin-light:#2aa8e9 !default;
$skin-darker:#067ebe !default;
$skin-card:#1295d8 !default;

$nav_bgcolor:#1390d3 !default;
$nav_choose_bgcolor:#2aa8e9 !default;
$subhead_bgcolor:#067ebe !default;
$card_bordercolor:#1295d8 !default;