//基准色
$skin:#1390d3,#00697e,#f18b2e;
$skin-value:'1390d3','00697e','f18b2e';
//亮色
$skin-light:#2aa8e9,#008099,#fc9e48;
$skin-light-value:'2aa8e9','008099','fc9e48';
//暗色
$skin-darker:#067ebe,#005768,#ed760a;
$skin-darker-value:'067ebe','005768','ed760a';
//card色
$skin-card:#1295d8,#00697e,#f18b2e;
$skin-card-value:'1295d8','00697e','f18b2e';